.right {
    width: 320px;
    height: 800px;
    background-color: white;
    border-radius: 20px;
    margin-left: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(246, 228, 250);
    box-shadow: 15px 5px 5px rgb(174, 142, 174);

}
/* i{
    color: rgb(218, 190, 236);
    margin-left: 30px;
    margin-top: 30px;
    width: 100x;
    height: 100px;
    font-size: 50px;

} */
.ii{
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-top: -20px;
    height: 50px;
    width: 70px;
    color: rgb(158, 65, 211);
}
#block1{
    display: flex;
    height: 70px;
    width: 280px;
    /* background-color: white; */
    border-radius: 15px;
    margin-top: -30px;
    margin-left: 20px;
    flex-direction: row;
    margin-bottom: 70px;
}
.ph1{
    display: flex;
    margin-right: 30px;
}
.list1{
    display: flex;
    color: rgb(210, 147, 208);
    align-items: center;
    font-size: 15px;
}

.text{
    display: flex;
}


.fafa{
    display: flex;
}